<%= render 'layouts/search' %>

<p>
  <strong>User name:</strong>
  <%= @user.user_name %>
</p>

<%= link_to '全ソフト', games_path %>
<% @statuses.each do |status| %>
  <%= link_to status.name, games_path, status: status.id %>
<% end %>