<div class="top">
  <div class="eye-catch" style="background-color: #730E15; height: 400px">
    <div class="ui twitter button">
      <i class="twitter icon"></i><%= link_to 'Twitterでログイン', '/auth/twitter', style: 'color:#fff' %></div>
  </div>
  <div class="ui unstackable divided items">
    <div class="search-form">
      <%= form_tag("/pre_search", method: "get") do %>
        <div class="ui icon mini action input">
          <input type="text" id="search_word" name="search_word" placeholder="ログインせずにゲームを検索する">
          <button class="ui icon basic button">
            <i class="search link icon"></i>
          </button>
        </div>
      <% end %>
    </div>
    <div class="ui header"><%= @header %></div>
    <%= render 'layouts/search_results', {games: @games} %>
  </div>
</div>