@import "variables";

header {
  position: fixed;
  width: 100%;
  top: 0;
  z-index: 99;
  background-color: #fff;

  .ui.attached.menu {
    padding: 5px 0;
  }

  .ui.twitter.button {
    padding: 10px 15px;
  }

  .wrapper-menu {
    border-bottom: $border;
  }

  .wrapper-search-form {
    padding: 10px;
    border-bottom: $border;

    .input {
      width: 100%;
    }
  }

  @media screen and (min-width: 1024px) {
    .wrapper-menu {
      .ui.secondary.menu {
        width: $width_computer;
        margin: 0 auto;
      }

      .input {
        width: 300px;
      }
    }
  }
}