@import "variables";

.link {
  margin: 20px 0;

  .ui.divider {
    margin: 7px 0 7px;
  }

  .ui.secondary.menu {
    margin: 0;

    .item {
      margin: 0 2px;
      padding: 10px 8px;
    }

    .header.item {
      width: 91px;
      margin-right: 15px;
      border-right: $border;
    }
  }
}