.top {
  .ui.mini.divider {
    margin: 60px auto;
    width: 75px;
    border-style: dashed!important;
    border-width: 2px!important;
    border-color: #999!important;
  }

  .sub.header {
    margin: 20px auto!important;
  }

  #usage {
    .ui.row {
      margin-bottom: 10px;
    }
  }

  #popular-games {
    .content {
      text-align: left;
    }
  }

  @media screen and (min-width: 1024px) {
    .ui.twitter.button {
      width: 300px;
      margin: 0 auto;
    }
  }
}