.search-result {
  padding-top: 20px;

  .extra {
    margin-top: 20px!important;

    .data {
      float: left;
    }

    .button {
      float: right;
    }
  }

  @media screen and (min-width: 1024px) {
    width: 70%;
    margin: 0 auto;
  }
}
