.search-result {
  .extra {
    text-align: center;
    padding: 10px!important;

    .button {
      padding: 11px 50px;
    }
  }

  @media screen and (min-width: 1024px) {
    .extra {
      text-align: left;
    }
  }
}
