<header>
  <div class="wrapper-menu">
    <div class="ui secondary menu">
      <%= link_to 'ゲームソフト管理サービス', root_path, class: "large header item" %>
      <div class="right menu">
        <% if logged_in? %>
          <div class="item computer only">
            <%= render 'layouts/search_form' %>
          </div>
          <div class="item">
            <%= link_to 'ログアウト', '/signout' %>
          </div>
        <% end %>
      </div>
    </div>
  </div>
  <% if logged_in? %>
    <div class="wrapper-search-form mobile only">
      <%= render 'layouts/search_form' %>
    </div>
  <% end %>
</header>