<%= form_tag("/search", method: "get") do %>
  <div class="ui icon mini action input">
    <input type="text" id="search_word" name="search_word" placeholder="Amazonでゲームソフトを検索">
    <button class="ui icon basic button">
      <i class="search link icon"></i>
    </button>
  </div>
<% end %>